.backend/app/.env
.backend/file_info.json
.venv/
.frontend/Podfile
.frontend/Podfile.lock
.frontend/client_225750006045-su2ujksjsvpsvm8h0cb8e9b0biu2t5rv.apps.googleusercontent.com.plist
.frontend/Pods
.frontend/PlateSpotter.xcodeproj
.frontend/PlateSpotter.xcworkspace
.frontend/PlateSpotterTests
.frontend/PlateSpotterUITests
